---
import {Image} from "astro:assets";
import html from "../assets/type-html.png";
import css from "../assets/type-css2.png";
import javascript from "../assets/javascript.png";
import flutter from "../assets/flutter.png";
import java from "../assets/java.png";
import postgresql from "../assets/postgresql.png";
import docker from "../assets/docker.png";

const title = "SKILLS";
const skills = [
    { name: "HTML", image: html, progress: 90 },
    { name: "CSS", image: css, progress: 80 },
    { name: "Javascript", image: javascript, progress: 95 },
    { name: "Flutter", image: flutter, progress: 60 },
    { name: "Java", image: java, progress: 75 },
    { name: "PostgreSQL", image: postgresql, progress: 85 },
    { name: "Docker", image: docker, progress: 80 },
];
---

<div id="skills" class="skills-field">
    <div class="detail-title">
        <div class="cube"></div>
        <h1 style="font-weight: bold;">{title}</h1>
    </div>
    <ul class="skills-info">
        {skills.map(skill => (
            <li class="skill-item">
                <h2>{skill.name}</h2>
                <div class="image-field">
                    <Image class="image" src={skill.image} alt={skill.name} decoding="async" loading="lazy"/>
                </div>
                <div class="progress-bar">
                    <div class="progress" style={{ width: `${skill.progress}%` }}></div>
                </div>
            </li>
        ))}
    </ul>
</div>

<style>
    .skills-field {
        display: flex;
        flex-direction: column;
        margin-top: 6%;
        align-items: center;
        color: white;
    }
    .detail-title {
        display: flex;
        align-items: center;
        gap: 25px; 
    }
    .cube {
        width: 10px;
        height: 10px;
        background-color: #78d7d5;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    .cube::after {
        content: "";
        position: absolute;
        inset: -5px;
        border: 2px solid #78d7d5;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skills-info {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
        width: 100%;
    }
    .skill-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        margin-top: 3rem;
    }
    .skill-item h2 {
        margin: 0;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }
    .image-field {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    .image{
        width: 120px;
        height: 120px;
    }
    .progress-bar {
        width: 100%;
        background-color: #444;
        border-radius: 5px;
        overflow: hidden;
    }
    .progress {
        height: 10px;
        background-color: #78d7d5;
        border-radius: 5px;
    }
    @media screen and (max-width: 768px) {
        .skills-info {
            gap: 2rem;
        }
        .skill-item {
            width: 100px;
        }
        .image{
            width: 80px;
            height: 80px;
        }
    }
</style>